@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0.5em;
    /* Ajusta el ancho según sea necesario */
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .1);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 20
}